<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>opinion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <!--  < @books.each do |book| %>-->
            <!--  <td><= book.title %></td>-->
            <!--  <td><= book.body %></td>-->
            <!--</tr>-->
          </tbody>
          <!--< end %>-->
        </table>
    </div>
  </div>
</div>