<div class="container">
  <div class="col-10 mt-5 mb-4">
    <div class="book-box">
      <p><%= @book.title %></p>
      <%= link_to 'New Reservation', new_reservation_path %>
    </div>
  </div>

</div>

